@media (min-width:640px) {
    //    dessert-cards
    .title {
        margin:40px 0 32px;
        font-size:42px;
    }

    .add-btn {
        padding:12px 28px;
        font-size: 28px;
        transform: translateY(-35px);

        img {
            height: 28px;
            width: 28px;
        }
    }

    .count-btn {
        padding: 12px 28px;
        font-size: 28px;
        gap:55px;
        transform: translateY(-36px);
        img {
            height:25px;
            width:25px;
        }
    }

    .desserts {
        &__cards {
            &__name {
                font-size: 22px;
            }

            &__full-title {
                font-size: 28px;
                margin: 15px 0;
            }

            &__price {
                font-size:26px;
            }
        }
    }

// orders

.order {
    &__title {
        font-size:32px;
    }
}

.orders {
    &__details {
        &__title {
            font-size: 22px;
        }
    }
}


.points, .prize1 ,  .prize2{
    font-size: 22px;
}

.total-price {
    &__order {
        font-size: 28px;
    }

    &__amount {
        font-size: 32px;
    } 
}

.delivery-btn {
    padding: 24px 20px;
    font-size: 25px;
}

.confirm-btn {
    padding: 20px 24px;
    font-size: 25px;
}

}